{% extends 'base.html' %}
{% block content %}
<h1 style='color:black'>Reviews</h1>
<table class='table'>
    <tr style='color:grey; font-size:17px'>
        <th>Titile</th>
        <th>Movie</th>
        <th>Added By</th>
    </tr>
    {% for r in review_list %}
    <tr style='color:grey; font-size:16px;'>
        <td><a href="{% url 'reviewdetail' id=r.id %}">{{ r.reviewtitle }}</a></td> 
        <td>{{ r.movie }}</td>
        <td>{{ r.user }}</td>
    </tr>
    {% endfor %}
</table>

    

{% endblock %}