<!DOCTYPE html>
<html>
    <head>
        <title>Cinematheque</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        
       
    </head> 
    <body>
        <div class='jumbotron text-center' style="background-color: white; color: black;">
            <h1>Cinematheque</h1>
        </div>
        <nav class="navbar navbar-default" > 
            <div class="container-fluid" style="background-color: rgb(236, 236, 236)">
               <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">About</a>
               </div>
               <ul class="nav navbar-nav" style='font-size:17px;'>
                <li><a href="{% url 'movies' %}">Movies</a></li>
                <li><a href="{% url 'moviegenres' %}">Genres</a></li>
                <li><a href="{% url 'reviews' %}">Reviews</a></li>
                <li><a href="{% url 'newmovie' %}">Add movie</a></li>
                <li><a href="{% url 'newreview' %}">Add review</a></li>
               </ul> 
               <ul class="nav navbar-nav navbar-right" style='font-size:18px;'>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
               </ul>
            </div>
        </nav>
        <p>&nbsp;</p>
        <div class="container">
        {% block content %}
        
        {% endblock content %}
        </div>
    </body>
</html>